<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="com.mycompany_JenkinsTest_war_1.0-SNAPSHOT">
  <test name="test1">
        <classes>
            <class name="TestSelenium1.testTitle"/>
        </classes>
  </test>
  <test name="test2">
      <classes>
            <class name="TestSelenium1.testAbs"/>
        </classes>
  </test>
</suite>
